/* 
* Estilos propios
*/
body {
    background: url('../images/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thumbnail img {
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
    max-width:90%;
    height:auto;
    -moz-box-shadow: 5px 6px 8px  #302f30;
    -webkit-box-shadow: 5px 6px 8px #302f30;
    box-shadow: 5px 6px 8px  #302f30;
    margin-bottom:25px;
}
h3 {
    text-align:center;
    margin-bottom:25px;
}

.img-med {
    width: 319px;
    height: auto;
}

.thumbnail {
    /*border-radius:5px 40px;*/
    border:1px solid #cccccc;
    text-align:center;
    padding:0px 15px 10px;
	
}

img:hover {
    transform : scale(2);
    -moz-transform : scale(1.5); /* Firefox */
    -webkit-transform : scale(1.5); /* Chrome - Safari */
    -o-transform : scale(1.5); /* Opera */
    -ms-transform : scale(1.5); /* IE9 */
}
.thumbnail:active {
    -moz-box-shadow: 5px 6px 8px  #302f30;
    -webkit-box-shadow: 5px 6px 8px #302f30;
    box-shadow: 5px 6px 8px  #302f30;
}
.content_text {
    font-size:1em;
    margin:15px 0px;
    text-align:left;
	

}